/* style main header */
.Main-header {   
    position:relative;
    width:75%;
    background: rgba(200,200,200,0.7);    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2pt ridge black;
    margin-top: 0;
    margin-bottom: 0;
    padding:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  }

/* Set the style of the navigation bar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    width:100%;
  }

  .navbar li {
      float:left;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }   
 
/* Style cardbox */
.cardbox {
    text-align: center;    
    width:18%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    float:left;
    background: #cfd8dc;
    border-radius: 25px;
    border: 2px solid rgb(198, 199, 197);
    overflow:visible;   

}

/* Define style of image */
.cardbox img {
  
    border-radius: 20px;
    border: darkgrey 3px solid;
    width: 60%;
    height:180px; 
    margin-left:auto;
    margin-right:auto;
    object-fit: fill;  
    margin-top: 3px;  
    
}

/* Set style of the text in the cardbox */
.cardbox-content ul {    
   
    width: 80%; 
    background: inherit; 
    margin-right: 5%;

}

/* Set unordered list style */
.cardbox-content li {
    list-style-type: none;
    list-style-position:outside;
    text-align:left;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;

}



/* Set style of headers in cardboxes */
.cardbox h2 {
    color: #2f3238;
}

.data-summary {
   
    margin:1% auto;
    background-color: #cfd8dc;     
    clear:left;
    width:40%;
    border-radius: 25px;
    border:  2px solid;
    border-color:rgb(94, 90, 90);
    padding:5px;
    padding-top:2px;


}

.data-summary ul li {
  list-style-type: bullets;
  list-style-position:outside; 
}







 