/* style main header */
.Main-header {   
    position:relative;
    width:50%;
    background: rgba(255, 0, 0, 0.7);    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  }
body{
  background-color: black;
}
/* Set the style of the navigation bar */
.navbar ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color:rgb(52, 51, 58);
    width:50%;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar li {
      float:none;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .AboutMeTitle {
    margin-top: 20px; 
    background-color:rgb(255, 8, 0);
    border: 2px solid rgb(231, 210, 17);
  }

  .AboutMe{
    margin-top: 20px; 
    background-color:rgb(255, 8, 0);
  } 
 #textBTME{
    border: 14px double blue;
    width: 30%;
    color: rgb(236, 205, 27);
    margin-right: auto;
    margin-left: auto;
  }